.sticky-top {
  position: absolute !important;
  top: 20px;
  width: 100%;
  z-index: 1000; 
  padding: 10px 20px; 
}

.navbar .nav-link {
  color: #fff;
  font-size: 18px; 
  margin-right: 10px; 
}

.navbar .nav-link:hover {
  color: #007bff; 
}

.navbar-brand {
  color: #fff !important;
  font-weight: bold;
  font-size: 24px; 
}

.badge {
  position: absolute;
  top: -2px;
  background-color: #dc3545; 
  color: white;
  padding: 3px 8px;
  border-radius: 50%; 
  font-size: 12px;
}
