.main-section {
  background-image: url("../assets/images/background_img.png");
  height: 600px; 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px; 
  color: white;
}

.content-wrapper {
  max-width: 300px;
}

.main-section h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}
.btn_style{
  color: #fff !important; 
  background-color: #ca4022 !important;
}
.main-section p {
  font-size: 24px;
  margin-bottom: 20px;
}

.main-section .btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
}
